<div class="background hero is-fullheight is-fullwidth">
  <div class="hero-head ">
    <div class="container has-text-centered" style="padding: 1rem; font-size: large;">
      <nav class="level">
        <p class="level-item has-text-centered">
          <a class="link marsala-font">Como chegar</a>
        </p>
        <p class="level-item has-text-centered">
          <a class="link marsala-font">Dicas úteis</a>
        </p>
        <p class="level-item has-text-centered">
          <a class="link marsala-font" href="#/confirmation">Confirme sua presença</a>
        </p>
        <p class="level-item has-text-centered">
          <a class="link marsala-font" href="#/honeymoon">Lista de presentes</a>
        </p>
      </nav>
    </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="tile is-ancestor is-8" style="margin: auto;">
        <div class="tile is-parent">
          <article class="tile is-child">
            <router-outlet></router-outlet>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot background-footer">
    <div class="container">
    </div>
  </div>
</div>
