<div class="background hero is-fullheight">
  <div class="hero-head">
    <div class="container">
      <nav class="nav">
        <div class="nav-center">
          <a class="nav-item" href="/">
            Home
          </a>
          <a class="nav-item" href="/confirmation">
            <span class="icon">
              <i class="fa fa-address-book"></i>
            </span>
            Confirme sua Presença
          </a>
          <a class="nav-item" href="/honeymoon">
            Cota para Lua de Mel
          </a>
        </div>

        <span class="nav-toggle">
          <span>Home</span>
          <span>Confirme sua Presença</span>
          <span>Cota para Lua de Mel</span>
        </span>
      </nav>
    </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Pé
        </p>
      </div>
    </div>
  </div>
</div>
