<div class="background hero is-fullheight is-fullwidth">
  <div class="hero-head">
    <div class="container has-text-centered">
      <nav class="nav">
        <div class="nav-center">
          <a class="nav-item is-hidden-mobile" href="/">
            Como chegar
          </a>
          <a class="nav-item is-hidden-mobile" href="/">
            Dicas úteis
          </a>
          <a class="nav-item is-hidden-mobile" href="/confirmation">
            Confirme sua presença
          </a>
          <a class="nav-item is-hidden-mobile" href="/honeymoon">
            Lista de presentes
          </a>
        </div>

        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </nav>
    </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="tile is-ancestor is-8" style="margin: auto;">
        <div class="tile is-parent">
          <article class="tile is-child">
            <router-outlet></router-outlet>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container">
      <nav class="nav">
        <div class="nav-center">
          <a class="nav-item">
            154 dias
          </a>
          <a class="nav-item">
            160 confirmados
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
