<article class="tile is-child">
  <p class="title wedding-font highlight-title">Confirme sua presença</p>
  <p class="subtitle wedding-font highlight-subtitle">
    É importante que você faça a confirmação de sua presença para que possamos melhor festejar.
  </p>
  <div class="content">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="box has-text-centered">
          <form (ngSubmit)="save(info)" novalidate>
            <div class="field">
              <label class="wedding-font highlight-subtitle">Nome<strong>*</strong></label>
              <p class="control">
                <input
                  class="input has-text-centered"
                  type="text"
                  placeholder="Nome"
                  [(ngModel)]="info.name"
                  name="name"
                  required>
              </p>
            </div>

            <div class="field">
              <label class="wedding-font highlight-subtitle">Email<strong>*</strong></label>
              <p class="control">
                <input
                  class="input has-text-centered"
                  type="text"
                  placeholder="exemplo@exemplo.com.br"
                  [(ngModel)]="info.email"
                  name="email"
                  (blur)="onEmailBlur(info.email)"
                  required>
              </p>
              <p class="help is-danger" style="margin-top: 0rem;" *ngIf="usedEmail">
                E-mail já cadastrado
              </p>
              <p class="help is-info" style="margin-top: 0rem;" *ngIf="usedEmail" (click)="useTempData()">
                Atualizar cadastro?
              </p>
            </div>

            <div class="field" style="margin-bottom: 0rem;">
              <label class="wedding-font highlight-subtitle">Acompanhantes</label>
            </div>

            <div class="field" style="margin-bottom: 0rem;" *ngFor="let guest of info.guests">
              <small class="wedding-font highlight-subtitle">{{ guest }}</small>
              <span class="icon is-pulled-right" style="color: #742b59;">
                <i class="fa fa-minus-circle" (click)="removeGuest(guest)"></i>
              </span>
            </div>

            <div class="field has-addons">
              <p class="control is-expanded">
                <input
                  class="input has-text-centered"
                  type="text"
                  placeholder="Nome"
                  [(ngModel)]="info.newGuest"
                  name="newGuest"
                  (keyup.enter)="addGuest(info.newGuest)">
              </p>
              <p class="control">
                <a class="button is-info marsala-background">
                  <i class="fa fa-plus-circle" (click)="addGuest(info.newGuest)"></i>
                </a>
              </p>
            </div>
          </form>

          <div class="columns" style="margin-bottom: 0rem;">
            <div class="column is-8 is-offset-4">
              <div class="field is-grouped">
                <p class="control">
                  <button
                    class="button is-primary marsala-background"
                    type="button"
                    (click)="save(info)">Enviar</button>
                </p>
                <p class="control">
                  <button class="button is-link">Cancel</button>
                </p>
              </div>
            </div>
          </div>

          <p class="help is-success" style="margin-top: 0rem;">{{ saveInfo }}</p>
        </div>
      </div>
    </div>
  </div>
</article>
