body {
  font-family: 'Tangerine', serif;
}

.hero .hero-head {
  background-color: white;
}

.marsala-background {
  background-color: #742b59 !important;
}

.marsala-color {
  color: #742b59 !important;
}

.highlight-title {
  font-size: 7rem !important;
  /*font-weight: bold !important;*/
}

.rouge-font {
  font-family: 'Rouge Script', serif;
}

.bubbler-font {
  font-family: 'Bubbler One', serif;
}

.highlight-subtitle {
  font-size: 2rem !important;
}

.text-content {
  font-size: 1.5rem;
}
